{% extends 'base.html' %}

{% block content %}
<main>
    <div class="welcome-page">
        <h1>Welcome to Track It!</h1>
        <p>Use Track It! to manage projects and tasks for yourself or for your Scrum Team!</p>
        <p>Tracking your project tasks has never been easier! Login or sign up for a new free account below.</p>
        <hr>
        <div class="login-form">
            <h1>Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Login</button>
            </form>
            <div>
                <p>
                    New user? <a href="{% url 'signup' %}">Sign up here</a>
                </p>
            </div>
        </div>
    </div>
</main>

{% endblock content %}