{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
<main>
    <div class="project-detail">
        <h1>{{ project.name }}</h1>
        {{ project.description|markdownify }}
        <p>Start date: {{ project.start_date }} - Due date: {{ project.due_date }}</p>

        {% if project.is_completed and project.notes %}
        <p>Completed? Yes</p>
        <h3>Retrospective: </h3>
        <p>{{ project.notes }}</p>

        {% elif project.is_completed %}
        <p>Completed? Yes</p>
        <h3>Add Retrospective Below:</h3>
        <form method="post" action="{% url 'project_notes' project.id %}">
            {% csrf_token %}
            <textarea name="notes"></textarea>
            <p>
                <button>Add</button>
            </p>

        </form>

        {% else %}
        <p>Completed? No</p>
        <form method="post" action="{% url 'complete_project' project.id %}">
            {% csrf_token %}
            <input type="hidden" name="is_completed" value="True">
            <button>Complete</button>
        </form>
        {% endif %}
        <hr class="hr">
        <h2>Tasks</h2>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>

        {% if project.tasks.all %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Completed?</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                {% for task in project.tasks.all %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.assignee }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>{{ task.is_completed|yesno }}</td>
                    <td>{{ task.points }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <p>This project has no tasks</p>
        {% endif %}
    </div>
</main>

{% endblock content %}