{% extends 'base.html' %}

{% block content %}
<main>
    <div class="project-list">
        <h1>My Projects</h1>
        <p>
            <a href="{% url 'create_project' %}">Create a new project</a>
        </p>

        {% if not project_list %}
        <p>You are not assigned to any projects.</p>

        {% else %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                    <th>Due Date</th>
                    <th>Completed?</th>
                </tr>
            </thead>
            <tbody>
                {% for project in project_list %}
                <tr>
                    <td>
                        <a href="{% url 'show_project' project.pk %}">{{ project.name }}</a>
                    </td>
                    <td>{{ project.tasks.all|length }}</td>
                    <td>{{ project.due_date }}</td>
                    <td>{{ project.is_completed|yesno }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</main>

{% endblock content %}